@tailwind base;
@tailwind components;
@tailwind utilities;


form > .p-FieldLabel{
  color: #ffc0cb !important;
}

:root {
  --color-primary: #ff69b4; /* Hot Pink */
  --color-secondary: #ffc0cb; /* Light Pink */
  --color-accent: #000000; /* Black */
  --color-background: #fff0f5; /* Lavender Blush */
  --color-text: #000000; /* Black */
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lora);
}

body,
p,
span,
div,
button {
  font-family: var(--font-montserrat);
}
:root {
  --pink-accent: #ec4899;
}

body {
  @apply bg-gray-100;
}